<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
    <title>Add Story</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
    tinymce.init(
        {
            selector: 'textarea',
            height: 500,
            menubar: true,
            plugins:
            [
                'advlist autolink lists link image charmap print preview anchor textcolor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code help wordcount'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
});
    </script>
</head>
<body>
    <%- include('partials/navbar', {user}) %>

    <form class="form" method="POST" action="/post/<%= story.UserId %>/edit/<%=story.id%>" style="margin-top: 5rem; padding: 5%;">
        <textarea name = "posted">
            <%= story.content %>
        </textarea>
        <div>
        <input type="submit" class="w3-button w3-block w3-section w3-red w3-ripple w3-padding" style="width:30%; margin-left: 2rem;" value="Submit">
        </div>
    </form>
    <%- include('partials/footer') %>
</body>
</html>